<div *ngIf="item.type=='button'" class="ribbon-item ribbon-icon-yellow-hover">
    <a href="javascript:void(0);" (click)="item.click&&item.click();">
        <span *ngIf="item.icon">
            <img [src]="item.icon" class="ribbon-item-icon">
            </span><br>
        <p class="text-center ribbon-item-label">{{item.title}}</p>
    </a>
</div>

<div *ngIf="item.type=='separator'" class="ribbon-group-divider"></div>

<div *ngIf="item.type=='text'" class="ribbon-item" style="border-radius: 8px;">
<span style="color: white;margin: 8px;" [innerHtml]="item.title" ></span>
</div>

<div *ngIf="item.type=='dropdown'" style="display:inline-block">
<div class="ribbon-item ribbon-icon-yellow-hover">
    <a href="javascript:void(0);" (click)="item.click&&item.click();">
        <span *ngIf="item.icon">
            <img [src]="item.icon" class="ribbon-item-icon">
            </span>
        <br>
        <div ngbDropdown>
            <button style="background: transparent;border:none;margin:0;padding:0;" class="text-center ribbon-item-label" ngbDropdownToggle> {{item.title}}
<span class="caret"></span>
</button>
<div class="dropdown-menu">
    <div *ngFor="let dropdownItem of item.items" class="dropdown-item">
        <a href="javascript:void(0);" (click)="dropdownItem.click&&dropdownItem.click();">
            <img [src]="dropdownItem.icon" class="ribbon-item-icon"> {{dropdownItem.title}}
        </a>
    </div>
</div>
</div>
</a>
</div>

</div>