<div *ngIf="item.type=='applicationText'" class="ribbon-item" style="margin: 7px 5px -5px 5px;">
<p class="text-center ribbon-item-label">{{item.title}}</p>
</div>

<div *ngIf="item.type=='applicationDropdown'" class="ribbon-item">
    <a href="javascript:void(0);">
        <div ngbDropdown [open]="isOpen">
            <button style="background: transparent;border:none;margin:0;padding:0;" class="text-center ribbon-item-label" ngbDropdownToggle>
<img [src]="item.icon" class="ribbon-item-icon">
</button>
<div class="dropdown-menu">
    <div *ngFor="let dropdownItem of item.items" class="dropdown-item" style="display:inline-block" (click)="dropdownItem.click();">
<a href="javascript:void(0);">
    <img [src]="dropdownItem.icon" class="ribbon-item-icon">
</a>
</div>
</div>
</div>
</a>
</div>

<div *ngIf="item.type=='applicationButton'" class="ribbon-item">
    <span>
          <a href="javascript:void(0);" (click)="item.click&&item.click();">
              <div class="{{item.class}}">
                  <img *ngIf="item.icon" [src]="item.icon">
                  <p *ngIf="item.title" class="text-center ribbon-item-label">{{item.title}}</p>
              </div>
          </a>
    </span>
</div>