<div (keyup)="onKey($event)">
    <h4><label>{{phrase.phrase}}</label></h4>
    {{phrase.phonetic}}
    <br>
    <button class="btn btn-info" (click)="showMeaning=!showMeaning">{{{true:'Show',false:'hide'}[!showMeaning]}}</button>
    <br>
    <div [hidden]="!showMeaning">
        {{phrase.meaning}}
    </div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let sentence of this.phrase.sentences">
            {{sentence}}
        </li>
    </ul>
    <br>
    <button class="btn btn-info" (click)="next()" style="dispaly:block;">Next</button><br>


    <textarea [(ngModel)]="example"></textarea >
    <br>
    <button class="btn btn-info" (click)="addExample()">add example to this phrase</button>
</div>